python_dotenv
requests
ipykernel
pandas
openpyxl
pandas_ta
xgboost
lightgbm
scikit-learn
scikit-optimize
matplotlib
plotly
nbformat
pandas_datareader
pmdarima
numpy
pymongo
certifi
pymongo[srv]==3.12
dill
mlflow
pyaml
dagshub
fastapi
uvicorn
python-multipart
